body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #fff;
    max-width: 400px;
    padding: 40px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="text"], input[type="password"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .forgot-password {
    text-align: left;
    font-size: 12px;
    color: #007185;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
  }
  
  button {
    background-color: #f0c14b;
    color: #111;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #ddb347;
  }
  
  .create-account {
    margin-top: 20px;
  }
  
  .create-account p {
    margin-bottom: 10px;
  }
  
  .create-account a {
    color: #007185;
    text-decoration: none;
  }
  